
// custom variable values
// $primary: #d89a0f;
$enable-negative-margins: true;
$primary: #2bd958;
$secondary: #2bb7d9;
$light: #fbf5e5;

// import the functions & variables
// @import "../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Prata&display=swap');


// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #ffa41c
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@each $key,$val in $custom-theme-colors{
  .bg-#{$key}{
    background-color: $val;
  }
  .text-#{$key}{
    color: $val;
  }
}