.navbar {
  background-image: url(../assets/background-gradient-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.navbar-brand img {
  width: 60px;
  margin-right: 20px;
  margin-top: -7px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255, 0.8);
}
