.nn {
  background: rgb(43,217,88);
  background: linear-gradient(90deg, rgba(43,217,88,1) 0%, rgba(43,183,217,1) 100%);
}

.navbar {
  background-image: url(../assets/background-gradient-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}

.nav-a {
  font-size: 1.1rem;
}

.navbar-brand img {
  width: 60px;
  margin-right: 20px;
  margin-top: -7px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255, 0.8);
  color: #fbf5e538;
}

.navbar-brand span:hover {
  transition: all .7s;
  background: rgb(255, 255, 255, 0.2);
}

.nav-a:hover {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.157);
  background: rgba(255, 255, 255, 0.157);
  border-radius: 0.3rem;
  transition: all .7s;
}

@media only screen and (max-width: 767px) {
  .navbar {
    background-image: url(../assets/background-gradient-hero-e.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
    /* height: 300px; */
    margin-bottom: 30px;
  }
  .nav-n {
    margin-top: 10px;
  }
  .nav-a {
    text-align: end;
    margin-right: 10px;
  }
  .nav-a:hover {
    /* font-size: 1.2rem; */
    padding-right: 10px;
    transition: all .7s;
  }
}



/* tech stack section  ------------------------------------------------  */
.btn-download:hover {
  color: white;
}



/* tech stack section  ------------------------------------------------  */
/* border: 1px solid red; */
.card-tc {
  border-radius: 0.75rem;
}



/* projects section  --------------------------------------------------  */
.card-w:nth-child(even) .card-p {
  display: flex;
  flex-direction: row-reverse;
}

.ps {
  padding-bottom: 100px;
  padding-top: 100px;
}


.card-w:nth-child(odd) .card-i img {
  border-radius: 0.5rem 0 0 0.5rem;
}
.card-w:nth-child(even) .card-i img {
  border-radius: 0 0.5rem 0.5rem 0;
}

.card-w:nth-child(odd) .card-c{
  border: 1px solid #dee2e6;
  border-radius: 0 0.5rem 0.5rem 0;
}
.card-w:nth-child(even) .card-c{
  border: 1px solid #dee2e6;
  border-radius: 0.5rem 0 0 0.5rem;
}

.card-w:nth-child(odd) .card-i img:hover {
  transform: translate(10px, -10px);
  transition: all .7s;
  box-shadow: 0 0 0 10px rgba(255, 255, 255);
  border-radius: 0.3rem;
  transition: all .7s;
}

.card-w:nth-child(even) .card-i img:hover {
  transform: translate(-10px, -10px);
  transition: all .7s;
  box-shadow: 0 0 0 10px rgba(255, 255, 255);
  border-radius: 0.3rem;
  transition: all .7s;
}



/* contact section  --------------------------------------------------  */
#contact {
  background-image: url(../assets/footer-image-b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 776px; */
  height: 690px;
}

.contact-card {
  padding-top: 60px;
  /* border: 1px solid red; */
}

.footer-c {
  margin-top: 140px;
}

.contact-item:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255,0.3);
  border-radius: 0.3rem;
  transition: all .7s;
}

/*  -------------------------------------------------------------  */


