body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NAVBAR SECTION  ------------------------------------------------  */
/* NAVBAR SECTION  ------------------------------------------------  */
.nn {
  background: rgb(43,217,88);
  background: linear-gradient(90deg, rgba(43,217,88,1) 0%, rgba(43,183,217,1) 100%);
}
.navbar {
  /* background-image: url(../assets/background-gradient-hero.png); */
  background-image: url(./assets/background-gradient-hero.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
}
.nav-a {
  font-size: 1.1rem;
}
.navbar-brand img {
  width: 60px;
  margin-right: 20px;
  margin-top: -7px;
  animation: logoAnimation 0s 2.7s forwards;
  /* visibility: hidden; */
}

/* toogle button - No used now */
/* .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255, 0.8);
  color: #fbf5e538;
} */

.navbar-brand span:hover {
  transition: all .7s;
  background: rgb(255, 255, 255, 0.2);
}
.nav-a:hover {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.157);
  background: rgba(255, 255, 255, 0.157);
  border-radius: 0.3rem;
  transition: all .7s;
}

@media only screen and (max-width: 767px) {
  .navbar {
    background-image: url(./assets/background-gradient-hero-e.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 280px;
  }
  .navbar-brand {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navbar-brand .title {
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: -20px;
    margin-top: -20px;
    width: 100%;
  }
  .navbar-brand img {
    margin: 0;
    margin-right: 10px;
    margin-top: -4px;
    padding: 0;
    opacity: 0;
    /* visibility: hidden; */
  }
  .navbar-brand h1 {
    margin: 0;
    margin-left: 10px;
    padding: 0;
  }

  .nav-n {
    background-image: url(./assets/background-gradient-hero-e.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 44px;
    padding: 2px 0px;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  .nav-a {
    text-align: end;
    margin-right: 10px;
  }
  .nav-a:hover {
    padding: 4px;
  }
}



/* ABOUT ME SECTION  ------------------------------------------------  */
/* ABOUT ME SECTION  ------------------------------------------------  */
.btn-download:hover {
  color: white;
}

@media only screen and (max-width: 480px) {
  .p-about {
    /* outline: 1px solid salmon; */
    margin-top: 24px !important;
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
}



/* TECHSTACK SECTION  ------------------------------------------------  */
/* TECHSTACK SECTION  ------------------------------------------------  */
.card-tc {
  border-radius: 0.75rem;
}



/* PROJECTS SECTION  ------------------------------------------------  */
/* PROJECTS SECTION  ------------------------------------------------  */
.card-w:nth-child(even) .card-p {
  display: flex;
  flex-direction: row-reverse;
}
.ps {
  padding-bottom: 100px;
  padding-top: 100px;
}
.card-w:nth-child(odd) .card-i img {
  border-radius: 0.5rem 0 0 0.5rem;
}
.card-w:nth-child(even) .card-i img {
  border-radius: 0 0.5rem 0.5rem 0;
}
.card-w:nth-child(odd) .card-c{
  border: 1px solid #dee2e6;
  border-radius: 0 0.5rem 0.5rem 0;
}
.card-w:nth-child(even) .card-c{
  border: 1px solid #dee2e6;
  border-radius: 0.5rem 0 0 0.5rem;
}
.card-w:nth-child(odd) .card-i img:hover {
  transform: translate(10px, -10px);
  transition: all .8s;
  /* box-shadow: 0 0 0 10px rgba(255, 255, 255); */
  /* border-radius: 0.3rem; */
  /* transform: rotate(360deg); */
  /* -webkit-transform: rotate(360deg); */
}
.card-w:nth-child(even) .card-i img:hover {
  /* transform: scale(1.05); */
  transform: translate(-10px, -10px);
  transition: all .8s;
}



/* CONTACT SECTION  ------------------------------------------------  */
/* CONTACT SECTION  ------------------------------------------------  */
#contact {
  background-image: url(./assets/footer-image-b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 776px; */
  height: 690px;
}
.contact-card {
  padding-top: 60px;
}
.contact-card p {
  padding: 0 20px;
  font-size: 1.3em;
}
.footer-c {
  margin-top: 140px;
}
.contact-item:hover {
  box-shadow: 0 0 0 10px rgba(255,255,255,0.3);
  border-radius: 0.3rem;
  transition: all .7s;
}



/*  ANIMATIONS  ---------------------------------------------------  */
/*  ---------------------------------------------------------------  */
.containerr .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
}
.containerr .box .title .block {
  width: 0%;
  height: inherit;
  background: rgba(255,255,255,0.3);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
  margin-top: -8px;
}
.containerr .box .title h1 {
  /* font-family: 'Poppins'; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #fff;
  /* font-size: 22px; */
  font-size: 1.5rem;

  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.containerr .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -100px;
  position: absolute;
  bottom: 13px;
  right: -6px;
}

@keyframes logoAnimation {
  from { opacity: 0}
  to {
    /* visibility: visible; */
    opacity: 1;
  }
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #ffffff;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #ffffff;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #ffffff00;
    border: 0px solid rgb(255, 255, 255);
    bottom: 4px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/*  ABOUT SECTION ANIMATION  --------------------------------------  */
@keyframes slideInFromDown {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
  from { opacity: 0}
  to   { opacity: 1}
}

#about {  
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromDown; /* the name of the animation we defined above */

  /* This section calls the slideInFromLeft animation we defined above */
  /* shorthand version (version corta) */
  animation: 1s ease-out 0s 1 slideInFromDown;

  /* padding: 30px; */
}

#techstack {  
  animation-duration: 1s; /* the duration of the animation */
  animation-timing-function: ease-out; /* how the animation will behave */
  animation-delay: 0s; /* how long to delay the animation from starting */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-name: slideInFromDown; /* the name of the animation we defined above */

  /* This section calls the slideInFromLeft animation we defined above */
  /* shorthand version (version corta) */
  animation: 1s ease-out 0s 1 slideInFromDown;

  padding: 30px;
}



/* GO TO TOP BUTTON  ------------------------------------------------  */
/* GO TO TOP BUTTON  ------------------------------------------------  */
.top-arrow {
  width: 48px;
  position: fixed;
  /* display: none; */
  bottom: 50px;
  right: 30px;
  z-index: 99;
  /* border: none; */
  /* outline: none; */
  background: #2bb7d9;
  cursor: pointer;
  border-radius: 25px;
  opacity: .85;
}

@media only screen and (max-width: 767px){
  .top-arrow {
    visibility: hidden;
  }
}